
body {
  background-image: url("../img/background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;
  background-attachment: fixed;

  /*
font-family: 'Open Sans', sans-serif;
font-family: 'Poiret One', cursive;
*/
}

/***************
Navigation
***************/


.main-container {
width: 940px;
margin: 0 auto;
margin-bottom: -15px;
}


.navigation {
  display: inline-flex;
  list-style: none;
  position: fixed;
  top: 0;
  width: 575px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.nav-li {
margin-left: 25px;
font-size: 100%;
font-weight: lighter;
}

.nav-li:nth-child(1) {
margin-left: 0;
}

.nav-div {
margin: 5% auto;
width: 60%;
}

.nav-a {
color: rgb(76, 76, 76);
text-decoration: none;
border-bottom: none;
-webkit-transition: border-bottom 0.5s;
  -moz-transition: border-bottom 0.5s;
  -o-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s;
}

.nav-a:hover {
	border-bottom: 2px solid black;
 -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);

}

.a-focus {
border-bottom: 1px solid;
}

.a-focus:hover {
	border-bottom: 2px solid black;
 -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);
}

/*****************
Home Rachelle
*****************/

.rachelle-div {
  height: 60%;
}

.rachelle {
  font-size: 847%;
  font-weight: bolder;
  margin: 15% auto 0;
  width: 80%;
  color: black;
  text-shadow: 0px 1px 10px rgb(89, 89, 89);
  font-family: 'Open Sans', sans-serif;
}

.front-p {
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  font-weight: normal;
  text-shadow: white 1px 1px 68px;
}

/****************

*****************/

.container {
height: 100%;
background-color: white;
margin: 0 -8px;
background-size: contain;
}

/****************
left
****************/

.about-left {
  float: left;
  border-bottom: dashed 9px rgb(142, 255, 143);
  margin-top: 33px;
}

.title {
  font-weight: lighter;
  font-size: 8.5em;
  float: right;
  margin-top: -30px;
  font-family: 'Poiret One', cursive;
  margin-bottom: 2%;
  width: 86%;
}

.subtitle {
  font-size: 2.8em;
  font-weight: 100;
  width: 17%;
  float: left;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-50deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 55% 45%;
  margin-top: 18%;
}

/****************
Right
****************/

.about-img {
width: 27%;
float: right;
border-top-left-radius: 270px;
}

.inside-container {
  width: 64%;
  margin: 0 auto;
  max-width: 895px;
}

.about-p {
  font-size: 1.5em;
  text-align: center;
  float: left;
  width: 71%;
  font-weight: 100;
  padding-top: 5%;
}

strong {
font-weight: 400;
color: salmon;
}

/*************
Container2
*************/

.container2 {
padding: 2.25em 1.6875em;
height: 900px;
background-color: rgb(99, 200, 147);
margin: 0 -8px;
color: white;
}

.cs50-img {
  width: 90%;
}

.certificate {
  width: 35%;
  float: left;
  margin: 3% 5% 1% 0;
  font-size: 1em;
  font-weight: 100;
  display: -webkit-inline-box;
}

.p-cs50.challenge {
  font-size: 3.5em;
  font-weight: 100;
  margin-bottom: 0;
  margin-top: 15%;
}

.down {
position: relative;
bottom: 0;
text-align: center;
width: 100px;
margin: 0 auto;
font-size: 75px;
}

.p-cs50 {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
  margin-top: 3%;
}

.p-cs50:last-child {
padding-bottom: 100px;
font-size: 16px;
}

.cs50-link {
  font-size: 1em;
  font-weight: 300;
  color: rgb(5, 38, 124);
  text-decoration: underline;
}


.container-footer {
height: 100px;
background-color: beige;
}

.cs50-div {
  margin-top: 17%;
}


/****************
***************/
.container2 {
background-color: rgb(99, 200, 147);
margin: -8px;
height: 100%;
padding-top: 70px;
color: white;
}

.timeline {
padding-top: 115px;
padding-bottom: 65px;
}

.container3 {
background: white;
height: 100%;
}

h1 {
color: white;
text-shadow: black 2px 2px 1px;
}

.intro p {
width: 50%;
margin: 0 auto;
font-size: 1.5em;
text-shadow: black 1px 2px 1px;
}


.cs50-bottom {
  font-size: .9em;
  margin-top: 5%;
  display: -webkit-inline-box;
}

.cs50-right {
  float: right;
  width: 60%;
  font-size: 1.7em;
  display: -webkit-inline-box;
}

.personal {
color: white;
}

.slide1 {
height: 100%;
}

.h1-slide1 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-shadow: black 3px 3px 7px;
  padding-bottom: 1%;
  padding-top: 20%;
}

.p-slide1 {
font-weight: 200;
}



.h1-slide2 {
font-size: 61px;
padding-bottom: 30px;
font-weight: 200;
color: white;
}

.video1 {
  border: 18px solid rgba(0, 0, 0, 0.71);
  border-radius: 15px;
  width: 38%;
  height: 76%;
}

.p-slide1 {
font-weight: 200;
letter-spacing: 1px;
}

.slide2 {
  background: rgb(178, 178, 207);
  height: 100%;
  padding-top: 20%;
}

p.p-slide2-1 {
font-size: 1em;
  padding-top: 10px;
}

.slide3 {
  background: rgb(203, 136, 136);
  height: 100%;
  padding-top: 20%;
}

.video2 {
  border: 18px solid rgba(0, 0, 0, 0.71);
  border-radius: 10px;
  width: 40%;
  height: 78%;
}

p.p-slide3-1 {
  font-size: 1em;
  padding-top: 10px;
}

.contact {
  background: white;
  height: 93.5%;
  padding-top: 20%;
}

.contact-icon {
  width: 70%;
  padding: 10%;
  border-radius: 50%;
  box-shadow: yellowgreen 1px 1px 2px;
  float: left;
}

.p-contact {
  font-size: 1.5em;
  padding-bottom: 40px;
  font-weight: 200;
  text-shadow: rgb(119, 119, 119) 1px 1px 1px;
}

.h1-contact {
  font-weight: 100;
  font-size: 600%;
}

.div-icon {
  padding-top: 2%;
  width: 70%;
  display: inline-block;
  margin: 0 auto;
}

.icon-a {
  width: 12%;
  min-width: 95px;
  float: left;
  margin: 0 auto;
}

.icon-a .p-icon {
  font-size: 1em;
  visibility: hidden;
  color: black;
  float: left;
}

.icon-a:hover .p-icon {
visibility: visible;
}

.contact-icon:hover {
-webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}


.footer {
  position: fixed;
  bottom: 13px;
  left: 0;
  right: 0;
  width: 218px;
  margin: 0 auto;
  color: rgb(0, 0, 0);
  letter-spacing: 4px;
}

.footer-p {
	font-size: 12px;
}

.g-link {
color: rgb(96, 148, 105);
font-weight: 500;
}

.intro {
  height: 40%;
}

@media (max-width: 940px) {

}